# CONFIG_NPC_PROFILE_RV32IM_SINGLE_PERF is not set
CONFIG_NPC_PROFILE_RV32IMA_SV32_LINUX=y
# CONFIG_NPC_PROFILE_RV32IM_OOO_4K is not set
CONFIG_NPC_PROFILE_ID="rv32ima_sv32_linux"
CONFIG_NPC_RELEASE_IDENTITY="npc-riscv-open-v0.1.0-rc1"
CONFIG_NPC_IMAGE=""
CONFIG_NPC_WATCHDOG_CYCLES=20000000
CONFIG_NPC_SEED=1
# CONFIG_NPC_DIFFTEST is not set
CONFIG_NPC_REFERENCE_SO=""
# CONFIG_NPC_VCD is not set
CONFIG_NPC_VCD_PATH="build/waves/sim.vcd"
# CONFIG_NPC_ITRACE is not set
CONFIG_NPC_ITRACE_PATH="build/traces/itrace.log"
CONFIG_NPC_RUN_LINT=y
CONFIG_NPC_RUN_SMOKE=y
CONFIG_NPC_RUN_REGRESSION=y
