CONFIG_NPC_PROFILE_RV32IM_SINGLE_PERF=y
# CONFIG_NPC_PROFILE_RV32IMA_SV32_LINUX is not set
# CONFIG_NPC_PROFILE_RV32IM_OOO_4K is not set
CONFIG_NPC_PROFILE_ID="rv32im_single_perf"
CONFIG_NPC_PROJECT_ID="npc-riscv-open"
CONFIG_NPC_SNAPSHOT_ID="v0.1.0"
CONFIG_NPC_IMAGE=""
CONFIG_NPC_WATCHDOG_CYCLES=20000000
CONFIG_NPC_SEED=1
# CONFIG_NPC_DIFFTEST is not set
CONFIG_NPC_REFERENCE_SO=""
# CONFIG_NPC_VCD is not set
CONFIG_NPC_VCD_PATH="build/waves/sim.vcd"
# CONFIG_NPC_ITRACE is not set
CONFIG_NPC_ITRACE_PATH="build/traces/itrace.log"
CONFIG_NPC_RUN_LINT=y
CONFIG_NPC_RUN_SMOKE=y
CONFIG_NPC_RUN_REGRESSION=y
